.mat-elevation-z1{
    background-color: white;
}

  #custom-toolbar{
     justify-content:space-between; 
    
}  
.example-form {
  height: 10px;
} 
a{
  text-decoration: none;
  color: black;
}
#search-form{
  width: 30%;
  font-size: 16px;
}