<mat-toolbar class="mat-elevation-z1">
    <mat-toolbar-row id="custom-toolbar" class="container">
        <div class="layout"> <a routerLink="/">My Blog </a> </div>
        <div>
            <form class="example-container" [formGroup]="options">
                <mat-form-field class="example-form" id="search-form">
                    <input class="search-input" matInput placeholder="Search" size="10" appearance="legacy"
                        id="searchKeyword" [(ngModel)]="searchText" formControlName="searchControl">
                </mat-form-field>
                <button (click)="search()" (click)="toggle()" routerLink="/story/search/{{searchText}}" mat-icon-button
                    color="primary" aria-label="Example icon-button with a heart icon">
                    <mat-icon class="toolbar-icon">search</mat-icon>
                </button>
                <span *ngIf="isAuth; else notAuth ">
                    <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
                        <mat-icon class="toolbar-icon">account_circle</mat-icon>
                    </button>

                    <button mat-button routerLink="story/addstory">
                        <mat-icon>add</mat-icon> Add Story
                    </button>
                    <button mat-button (click)="logout()">
                        <mat-icon> logout</mat-icon>
                    </button>
                </span>
                <ng-template #notAuth>
                    <button routerLink="login" mat-icon-button color="primary"
                        aria-label="Example icon-button with a heart icon">
                        Login Now!
                    </button>
                </ng-template>
            </form>
        </div>
    </mat-toolbar-row>
    <!-- [@openClose]="isOpen ?  'open' : 'closed'" -->

</mat-toolbar>