<body class="text-center">
    <main class="form-signin">
        <mat-card class="container">
            <mat-card-title style="color: blueviolet;">
                <h2><b>Sign In</b></h2>
            </mat-card-title>
            <mat-card-actions>
                <form [formGroup]="signinFormControl">
                    <div class="input">
                        <mat-form-field appearance="fill">
                            <mat-label>Enter your username</mat-label>
                            <input class="username" matInput type="text" formControlName="username">
                            <button mat-icon-button matSuffix style="visibility: hidden;">
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="input">
                        <mat-form-field appearance="fill">
                            <mat-label>Enter your email</mat-label>
                            <input class="email" matInput type="email" formControlName="email">
                            <button mat-icon-button matSuffix style="visibility: hidden;">
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="input">
                        <mat-form-field appearance="fill">
                            <mat-label>Enter your name</mat-label>
                            <input class="name" matInput type="text" formControlName="name">
                            <button mat-icon-button matSuffix style="visibility: hidden;">
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="input">
                        <mat-form-field appearance="fill">
                            <mat-label>Enter your surname</mat-label>
                            <input class="surname" matInput type="text" formControlName="surname">
                            <button mat-icon-button matSuffix style="visibility: hidden;">
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="input">
                        <mat-form-field appearance="fill">
                            <mat-label>Enter your password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'password'" formControlName="password">
                            <button color="primary" mat-icon-button matSuffix (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <br />
                        <button color="primary" class="signin-button" (click)="signIn()" mat-button>Sign In</button>
                    </div>
                    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
                </form>
            </mat-card-actions>
        </mat-card>
    </main>
</body>