
.searchBox {
  overflow: hidden;
  width: 280px;
  opacity: 1;}
form {
  padding-top: 5px;

}
.searchBox.ng-hide-remove {
  transition:  opacity 0.25s linear 0.25s, width 0.5s ease-out 0s;
}
.searchBox.ng-hide-add {
  transition:  opacity 0.25s linear 0s, width 0.5s ease-in 0s;
}
.searchBox.ng-hide {
  width: 0px;
  opacity: 0;
}
